<form action="{{ path('product_add', {'id' : product.id}) }}" class="flex wrap">
    <input type="hidden" name="quantity" value="1">
    <input type="hidden" name="product_id" value="{{ product.id }}">
    
    {% if app.user %}
        <input type="submit" value="Ajouter au panier" class="product__add-to-cart text-center">
    {% else %}
        <p class="product__add-to-cart text-center" style="cursor: inherit; opacity: .6;">Connectez-vous pour ajouter au panier</p class="product__add-to-cart text-center">
    {% endif %}
</form>