<div class="footer container flex wrap">
    <div class="footer__logo">
        <div class="footer__logo_container">
            <img src="{{ asset('images/logo_white-version.png') }}" alt="Breizh Solex"  class="footer__logo_container-image">
        </div>
        <div class="footer__logo_infos flex around">
            <a href="https://www.facebook.com" class="footer__logo_infos-info">
                <i class="fab fa-facebook-square"></i>
                Facebook
            </a>
            <a href="#" class="footer__logo_infos-info">
                <i class="fas fa-phone-square fa-rotate-90"></i>
                06.62.85.96.70
            </a>
        </div>
    </div>

    <div class="footer__place">
        <h6 class="footer__place_name">L'atelier</h6>
        <address class="footer__place_address">
            <span>3 Allée du Bois des Pères</span>
            <span>35135 CHANTEPIE</span>
        </address>
        
        <table class="footer__place_hours">
            <tr>
                <th class="footer__place_hours-day">Lundi :</th>
                <th class="footer__place_hours-hour">10:00 - 19:00</th>
            </tr>
            <tr>
                <th class="footer__place_hours-day">Mardi :</th>
                <th class="footer__place_hours-hour">10:00 - 19:00</th>
            </tr>
            <tr>
                <th class="footer__place_hours-day">Mercredi :</th>
                <th class="footer__place_hours-hour">10:00 - 19:00</th>
            </tr>
            <tr>
                <th class="footer__place_hours-day">Jeudi :</th>
                <th class="footer__place_hours-hour">10:00 - 19:00</th>
            </tr>
            <tr>
                <th class="footer__place_hours-day">Vendredi :</th>
                <th class="footer__place_hours-hour">10:00 - 19:00</th>
            </tr>
            <tr>
                <th class="footer__place_hours-day">Samedi :</th>
                <th class="footer__place_hours-hour">10:00 - 18:00</th>
            </tr>
            <tr>
                <th class="footer__place_hours-day">Dimanche :</th>
                <th class="footer__place_hours-hour">Fermé</th>
            </tr>
        </table>
    </div>

    <div class="footer__links">

        <div class="footer__links_solex">
            <img src="{{ asset('images/solex_dessin.png') }}" alt="Solex" class="footer__links_solex-image">
        </div>

        <ul class="footer__links_container">
            <li class="footer__links_container-link"><a href="#">Mentions légales</a></li>
            <li class="footer__links_container-link"><a href="#">Politique de confidentitalité</a></li>
            <li class="footer__links_container-link"><a href="#">Conditions générales de vente</a></li>
        </ul>

        
    </div>

    <p class="footer__copyright">Copyright © 2019 Breizh Solex. Tous droits réservés. </p>
        
</div>