{% extends 'admin/base.html.twig' %}

{% block title %}Modifier le stock minimum{% endblock %}

{% block body %}

    <section class="adminproduct container edit">
        <a href="{{ path('adminpreferences') }}" class="adminback btn btn-primary"><i class="fas fa-arrow-left"></i> Retour aux préférences</a>
        <h2>Modifier le stock minimum</h2>
        
        <form method="post" class="form">
            <div class="form__group">
                    {{ form_widget(form.taxe) }}
            </div>
    
            <div class="form__group">
                <input type="submit" value="Modifier">
            </div>

            {{ form_rest(form) }}

        </form>

    </section>

{% endblock %}