<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Administration - {% block title %}Bienvenu!{% endblock %}</title>
        
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    
        <!-- dataTables -->
        <link rel="stylesheet" href="/DataTables/datatables.min.css">

        <!-- Select 2 -->
        <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
        
        <link rel="stylesheet" href="/css/style.css">
        
        {% block stylesheets %}{% endblock %}
    </head>

    <body class="admin">

      <header>
        {% include 'admin/partials/header.html.twig' %}
      </header>

      <main>
        {% block body %}{% endblock %}
      </main>

      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <script src="{{ asset('js/tabs.js') }}"></script>
      <script src="{{ asset('DataTables/datatables.min.js') }}"></script>
      <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
      <script src="https://cdn.ckeditor.com/ckeditor5/15.0.0/classic/ckeditor.js"></script>
      <script src="{{ asset('js/popup.js') }}"></script>
      <script src="{{ asset('js/admin.js') }}"></script>
      
      {% block javascripts %}{% endblock %}

    </body>
</html>
