{% apply inline_css %}
    <style>
        #main {
            margin: 0 auto;
            max-width: 600px;
        }

        #address {
            background-color: #f7f7f7;
            padding: 15px;

            text-align: center;
        }

        #address p:last-of-type {
            font-size: 1.2em;
        }

        img {
            height: auto;
            width: 200px;
        }
    </style>

    <div id="main">

        <h3>Bonjour {{ user.firstName }} {{ user.lastName }} !</h3>

        <p>Votre commande a bien été enregistrée. Vous receverez un mail lorsqu'elle aura été expédiée.</p>

        <br>

        <div id="address">
            <p>Votre commande sera bientôt expédiée à l'adresse suivante :</p> 
            <p><strong>{{ order.address }}</strong></p>
        </div>

        <br>

        <p>Vous pouvez retrouver le détails de votre commande dans votre espace personnel sur <a href="breizhsolex.com">breizhsolex.com</a>.</p>

        <br>

        <p>Merci pour votre commande.</p>
        <p>Pour toute question, n'hésitez pas à envoyer un mail à l'adresse <a href="mailto:gilbertchristophe@sfr.fr">gilbertchristophe@sfr.fr</a> ou à appeler au <a href="tel:0662859670">06.62.85.96.70</a></p>

        <br>

        <p>À bientôt !</p>
        <img src="https://laureanne-leneel.fr/main_logo.png" alt="Breizh Solex">
    </div>
{% endapply %}


