{% extends 'admin/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <section class="dashboard container">
        <h2>Dashboard</h2>

        <article class="dashboard__orders flex wrap around" style="margin-top: 50px;">
            <div class="box flex">
                <h4>Commandes en attente</h4>
                <p>{{ waiting | length }}</p>

                <i class="fas fa-clock"></i>
            </div>

            <div class=" box flex">
                <h4>Commandes en préparation</h4>
                <p>{{ preparing | length }}</p>

                <i class="fas fa-box-open"></i>
            </div>
            
        </article>

        <article class="dashboard__numbers flex wrap around" style="margin-top: 50px;">
            <div class=" box flex">
                <h4>Commandes en cours d'expédition</h4>
                <p>{{ expeding | length }}</p>

                <i class="fas fa-envelope"></i>
            </div>

            <div class="box flex">
                <h4>Produits en stock bas</h4>
                <p>{{ lowStock | length }}</p>
        
                <i class="fas fa-exclamation-circle"></i>
            </div>
        </article>
    </section>

{% endblock %}
